body {
    background-color: rgb(39, 39, 39);
    background-image: url("GrandLogo.PNG");
    background-size: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: center;
}

div.mainBody{
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    padding: 30px;
}

/* .custom-btn {
    width: 400px;
    height: 200px;
    border-radius: 40px;
} */

.btn.custom-btn {
    /* background-color: #204d74; */
    /* color: #fff; */
    font-weight: bold;
    border-radius: 0px;
    border: none;
    text-transform: uppercase;
    padding: 20px 30px;
    letter-spacing: 2px;
}
.btn-on {
    background-color: #28a745;
    color: black;
}
.btn-off {
    background-color: red;
    color: black;
}
.btn-norm{
    background-color: #173753;
    color: #fff;
}
.btn-flash{
    background-color: red;
    color: #fff;
}

.flash {
    animation: flash-green 0.5s ease;
}

@keyframes flash-green {
    0% {
        background-color: red;
    }
    100% {
        background-color: inherit;
    }
}

.form-switch label {
    display: flex;
    align-items: center;
}

.form-switch label input {
    margin-left: 10px;
}

.form-switch span:first-child {
    margin-right: 10px;
}

.form-switch span:last-child {
    margin-left: 10px;
}
.custom-switch {
    padding: 0;
}
  
  

