<!doctype html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/site.css">
    </head>

    <body>
        {% include 'template.html' %}
        <br>
        <br>
        
        <div class="container mainBody text-white"> 
            How To Use:<br>
                - set the ip address and port of the device you want to send commands to (the ion 10.0.0.196 and port 8000)<br style="padding-left: 40px">
                - set the starting and ending values (range). These will be the cues, macros, ect that will be used for the OSC command<br>
                - choose between 'random' or 'in order'. 'Random' will run the numbers randomly where 'in order' will run the numbers in number order (1,2,3,4, ect)<br>
                - set the example OSC command. A lowercase 'x' will be the standin for the numbers decided earlier. 
                    The command to send OSC commands to the ion to run macros would be "/eos/macro/x/fire"
            <br><br>
            NOTE: IF YOU DON'T KNOW HOW TO USE OSC YOU SHOULD NOT USE THIS, YOU CAN AND WILL BREAK THINGS
        </div>

    </body>
</html>
